$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Variables
$link-color: #3e3232;
$input-color: #f5f5f5;
$input-placeholder-color: rgba(62, 50, 50, 0.75);
$user-name-color: #000000;
$user-name-hover-color: #ffffff;
$icon-hover-color: #ff0000;
$card-shadow: rgba(0, 0, 0, 0.2);
$icon-color: rgba(62, 50, 50, 0.5);
$slider-text-color: rgba(0, 0, 0, 0.75);
$dot-bg-color: rgba(255, 255, 255, 0.5);
$slider-content-color: rgba(255, 255, 255, 0.75);
$navbar-bg-color: rgba(0, 0, 0, 0.07);
$group-first-name: #2f5c9f;
$group-second-name: #aa3034;
$group-border-color: #E6E6E6;
$instagram-first-color: #f45c9f;
$instagram-second-color: #ff7563;
$twitter-first-color: #2ca5e0;
$twitter-second-color: #67c9f5;