.banners {
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    .banners__left {
      width: 50%;
      height: 450px;
      display: flex;
      justify-content: space-between;
      gap: 0 10px;
      .first-card,
      .second-card {
        width: 350px;
        height: 100%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 12px;
          object-fit: cover;
        }
        .card-info {
          width: 95%;
          left: 2.5%;
          height: 117px;
          background: rgba(255, 255, 255, 0.75);
          backdrop-filter: blur(5px);
          border-radius: 12px;
          position: absolute;
          bottom: 10px;
          overflow: hidden;
          padding-left: 15px;
          h3 {
            height: 30px;
            margin: 16px 0;
            font-family: "Roboto";
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 29px;
            color: #000000;
          }
          p {
            height: 40px;
            font-weight: 400;
            font-size: 0.85rem;
            line-height: 20px;
            letter-spacing: 0.25px;
            text-transform: capitalize;
            color: rgba(0, 0, 0, 0.75);
            align-self: stretch;
            overflow: hidden;
          }
        }
      }
    }
    .banners__right {
      width: 49%;
      height: 450px;
      position: relative;
      .card__right-banner {
        width: 100%;
        height: 450px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          border-radius: 12px;
          // object-fit: cover;
        }
  
        .card-info {
          width: 95%;
          height: 117px;
          background: rgba(255, 255, 255, 0.75);
          backdrop-filter: blur(5px);
          border-radius: 12px;
          position: absolute;
          bottom: 10px;
          left: 2.5%;
          margin: 0 auto;
          overflow: hidden;
          padding-left: 15px;
          h3 {
            height: 30px;
            margin: 16px 0;
            font-family: "Roboto";
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 29px;
            color: #000000;
          }
          p {
            height: 40px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
            text-transform: capitalize;
            color: rgba(0, 0, 0, 0.75);
            align-self: stretch;
            overflow: hidden;
            width: 70%;
          }
        }
      }
      // paginaiton swiper
      .swiper-info {
        width: 100px;
        height: 50px;
        position: absolute;
        left: 85%;
        bottom: 10px;
        z-index: 30;
        .swiper-pagination-bullet {
          background-color: red;
          width: 10px;
          height: 10px;
          margin: 30px 2px 0 2px;
          // background: #ffffff80;
          display: inline-block;
          border-radius: 3px;
          &.swiper-pagination-bullet-active {
            width: 20px;
            background-color: white;
            border-radius: 3px;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
      // navigation swipeer
      .right__swiper-btnbox {
        position: absolute;
        z-index: 40;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        .icon-swiper {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 12px;
          background-color: white;
          padding: 0.5rem;
          color: rgba(62, 50, 50, 0.5);
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .banners {
      margin-top: 100px;
      .banners__left {
        display: none;
      }
      .banners__right {
        width: 100%;
        .card__right-banner {
          width: 100%;
        }
      }
    }
  }
  